export(Maaslin2)

import("robustbase")
import("biglm")
import("pcaPP")
import("lpsymphony")
import("optparse")
importFrom("grDevices", "colorRampPalette", "dev.off", "pdf", "jpeg","png")
importFrom("stats", "as.formula", "coef", "glm", "lm", "na.exclude",
    "p.adjust", "update")
importFrom("utils", "capture.output", "read.table", "write.table")
importFrom("dplyr", "%>%")
importFrom("stats", "sd", "na.omit")
importFrom("utils","type.convert")
